body{
    background: linear-gradient(rgba(230, 238, 240, 0.8),rgba(117, 136, 219, 0.8)),url(./assets/img/jogo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.topo-pagina {
    text-align: center;
    font-family:  'Roboto Condensed', sans-serif;

}
.logo{
    width: 100px;
    height: 100px;
    

}
h1{
    font-size: 50px;

}
p{
    font-size: 20px;
    font-weight:lighter;
    font-stretch: semi-expanded;
}
#input-cadastro{
    height: 35px;
    width: 250px;
    border: 0 solid #008080;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-family:  'Roboto Condensed', sans-serif;
}
#jogos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.jogo{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 5px solid 	#00008B;
}
.jogo:hover{
    border: 5px solid white;
}
footer{
    text-align: center;
}
footer ul{
    display:flex;
    justify-content: center;
}
footer ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    

}
.devs img{
    display: block;
    opacity: 10%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.devs img:hover{
       opacity: 100%;
}